body{
margin:0 auto;
max-width:50em;
font:16px/1.5 'Roboto', 'Segoe', 'Segoe UI', 'Arial', sans-serif;
padding:0 1em}


h1,h2,h3,h4{line-height:1.2}

#title{
text-align:center;
margin-bottom:1em;
border-bottom:solid 1px}

table{
width:100%;
border-collapse:collapse}

th,td{
border: 1px solid;/*For old browser compatibility*/
border:1px solid color-mix(in srgb, currentcolor 60%, transparent);
padding:.2rem .45rem}

th:nth-child(1) {width:0}

tbody tr:nth-child(odd) {background-color: color-mix(in srgb, currentcolor 5%, transparent)}

@media print{body{max-width:none}}
