body{
margin:0 auto;
max-width:50em;
font:17px/1.5 'Roboto', 'Segoe', 'Segoe UI', 'Arial', sans-serif;
padding:0 1em}


h1,h2,h3,h4{line-height:1.2}

#title{
text-align:center;
margin-bottom:1em;
border-bottom:solid 1px}

table,input[type="submit"]{
width:100%;
border-collapse:collapse}

th,td{
border: 1px solid;/*For old browser compatibility*/
border:1px solid color-mix(in srgb, currentcolor 60%, transparent);
padding:.2rem .45rem}

a{
display: block;
padding-block: .7rem}

input{font-size: 1rem}

th:nth-child(1){width:0}

tbody tr:nth-child(odd){background-color: color-mix(in srgb, currentcolor 5%, transparent)}

@media print{body{max-width:none}}
